<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allison&family=Great+Vibes&family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/lightslider.css}">

    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/lightslider.js}"></script>
    <script>
        $(document).ready(function() {
            $('#autoWidth').lightSlider({
                autoWidth:true,
                loop:true,
                onSliderLoad: function() {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
        });
    </script>

<style>
    .product img {
        width: 200px;
        height: 300px;
        box-sizing: border-box;
        object-fit: cover;
    }
</style>
</head>
<body>

<!-- NAVBAR -->

<nav th:replace="navbar :: navbar"></nav>

<section id="home" th:style="'background:url(img/bg.jpg);background-repeat: no-repeat, repeat; background-size: cover;'">
    <div class="container"  >

        <h3>New Books</h3>
        <span>Best Price</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br>Modi, assumenda.</p>
        <button>Read Now</button>
    </div>
</section>

<div class="daily-quote">
    <div id="angle">
        <i class="fas fa-angle-down"></i>
    </div>
    <h1>Today's Quote</h1>
    <p>“If you don’t like to read, you haven’t found the right book.”<br>
        J.K. Rowling</p>
    <div id="angle">
        <i class="fas fa-angle-up"></i>
    </div>
</div>

<!-- PORTFOLIO -->

<section id="portfolio">
    <div class="portfolio">
        <div class="portfolio-item ani1">

            <img th:src="@{/img/BriefAnswerstotheBigQuestions.jpg}" alt="image">
            <div class="overlay">
                <h2>Science</h2>
                <button class="text-uppercase">Shop Now</button>
            </div>
        </div>

        <div class="portfolio-item ani2">
            <img th:src="@{img/HarryPotterandthePhilosophersStone.jpg}" alt="image">
            <div class="overlay">
                <h2>Fantastic</h2>
                <button class="text-uppercase">Shop Now</button>
            </div>
        </div>
        <div class="portfolio-item ani3">
            <img th:src="@{/img/ADayLikeThisANovel.jpg}" alt="image">
            <div class="overlay">
                <h2>Fiction</h2>
                <button class="text-uppercase">Shop Now</button>
            </div>
        </div>
        <div class="portfolio-item ani4">
            <img th:src="@{/img/WildflowerGraves.jpg}" alt="image">
            <div class="overlay">
                <h2>Detective</h2>
                <button class="text-uppercase">Shop Now</button>
            </div>
        </div>


    </div>
</section>

<!-- BEST SELLER -->

<section id="best-seller" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5" >
        <h3>Best Detective Books</h3>
        <hr class="mx-auto">
    </div>

    <div class="row mx-auto container-fluid">
        <div class="product text-center col-lg-3 col-md-4 col-12"  th:each="params : ${Dparameter}" >
            <a style="text-decoration:none;color: #0f0700"  th:href="${'/sbook/' + params.getId() + '/type/' + params.getBookType()}">
            <img th:src="${params.getBookImg()}">
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name" th:text="${params.getBookName()}" />
            <h6 th:text="${params.getAuthorName()}"/>
            <h4 class="p-price" th:text="${params.getBookPrice()}"/>
            <button class="buy-btn">Buy Now</button>

        </a>
    </div>
    </div>
</section>

<!-- BANNER -->

<section id="banner" class="my-5 py-5" th:style="'background:url(img/bannerImg.jpg);background-repeat: no-repeat, repeat; background-size: cover;'">
    <div class="container">
        <h2>Hurry! Super Sale!</h2>
        <h1>Current Books on Sale</h1>
        <button class="text-uppercase">Shop Now</button>
    </div>
</section>

<!-- SLIDER -->
<section class="slider">
    <div class="container text-center my-0" >
        <h3>The Greatest Books of All Time</h3>
        <hr class="mx-auto">
    </div>

    <ul id="autoWidth" class="cs-hidden" >

        <div  th:each="params : ${allbooks}" >
            <a style="text-decoration:none;color: #0f0700"  th:href="${'/sbook/' + params.getId() + '/type/' + params.getBookType()}">
            <li class="item-a">
            <div class="box">

                <img class="slide-img" th:src="${params.getBookImg()}">

                    <div class="overlay">
                        <a href="#" class="buy-btn">Book Now</a>
                    </div>
                <div class="detail-box">
                    <div class="type">
                        <a th:text="${#strings.length(params.getBookName())>14 ? #strings.substring(params.getBookName(),0,14) + '...' : params.getBookName()}"></a>
                        <span th:text="${#strings.length(params.getAuthorName())>10 ? #strings.substring(params.getAuthorName(),0,10) + '...' : params.getAuthorName()}"/>
                    </div>
                    <a href="#" class="price"  th:text="${params.getBookPrice()}" />
                </div>
            </div>
        </li>
            </a>
        </div>
    </ul>
</section>


<section id="best-seller" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5" >
        <h3> Best Biographies</h3>
        <hr class="mx-auto">
    </div>

    <div class="row mx-auto container-fluid" >

        <div class="product text-center col-lg-3 col-md-4 col-12" th:each="params : ${Bparameter}">
            <a style="text-decoration:none;color: #0f0700"  th:href="${'/sbook/' + params.getId() + '/type/' + params.getBookType()}">
            <img th:src="${params.getBookImg()}">
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h5 class="p-name" th:text="${params.getBookName()}" />
            <h6 th:text="${params.getAuthorName()}"/>
            <h4 class="p-price" th:text="${params.getBookPrice()}"/>
            <button class="buy-btn">Buy Now</button>
        </a>
    </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>