<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div  th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
    <div class="container">
        <a class="navbar-brand"  style="color:rgb(160,82,45)" >Book Store</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <form class="form-inline"  th:action="@{/search}" method="get">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="search" value=""  id="search" onkeydown="dropDown(event);" data-toggle="dropdown" placeholder="Search"
                           aria-label="Search">
                    <div class="dropdown-menu ropdown-menu-right ml-4"
                         id="dropdown-container"></div>
                </form>
                <li class="nav-item" th:classappend="${module == 'index' ? 'active' : ''}">
                    <a class="nav-link "  th:href="@{/index}" >Home</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'shop' ? 'active' : ''}">
                    <a class="nav-link " th:href="@{/shop}" >Shop</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Category</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Arts & Music</a></li>
                        <li><a class="dropdown-item" href="#">Biographies</a></li>
                        <li><a class="dropdown-item" href="#">Business</a></li>
                        <li><a class="dropdown-item" href="#">Comics</a></li>
                        <li><a class="dropdown-item" href="#">Education</a></li>
                        <li><a class="dropdown-item" href="#">History</a></li>
                        <li><a class="dropdown-item" href="#">Horror</a></li>
                        <li><a class="dropdown-item" href="#">Kids</a></li>
                        <li><a class="dropdown-item" href="#">Literature & Fiction</a></li>
                        <li><a class="dropdown-item" href="#">Mystery</a></li>
                        <li><a class="dropdown-item" href="#">Romance</a></li>
                        <li><a class="dropdown-item" href="#">Sci-Fi & Fantasy</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:classappend="${module == 'contact' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/contact}" >Contact us</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item" th:classappend="${module == 'login' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>

                <li class="nav-item" th:classappend="${module == 'cart' ? 'active' : ''}" >
                    <a class="nav-link" th:href="@{/cart}">
                        <i class="fas fa-shopping-bag" > </i>
                    </a>


                </li>


            </ul>
        </div>
    </div>
</nav>
</div>

<script>
    function  dropDown(event){
        var val=$("#search").val();
        if(val.length>1){
            $.ajax(
                {
                    url: '/search?value='+val,
                    type: 'GET',  // http method
                    processData: false,
                    cache:false,
                    contentType: false,
                    timeout:6000,
                    success: function (data) {
                        $(".dropdown-toggle").dropdown();
                       $("#dropdown-container").empty();
                       $("#dropdown-container").append(data);

                    },
                    error:function (e){
                        console.log("Error "+ e);
                    }
                }
            );
        }
    }
</script>

</body>

</html>