<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>


<nav th:replace="navbar :: navbar"></nav>

<div class="login">
  <section class="signup">
    <form method="POST" class="form-signin" th:object="${userForm}" th:action="@{/registration}">
      <div class="container">

        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Sign up</h2>
            <div class="form-group">
              <label for="name"><i class="fas fa-user"></i></label>

              <input id="name" type="text" th:field="*{username}" class="form-control" placeholder="Username"
                     autofocus="true">
              <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>



            <div class="form-group">
              <label for="pass"><i class="fas fa-lock"></i></label>
              <input id="pass" type="password" th:field="*{password}" class="form-control" placeholder="Password">
              <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>


            <div class="form-group">
              <label for="re_pass"><i class="far fa-lock"></i></label>
              <input id="re_pass" type="password" th:field="*{passwordConfirm}" class="form-control"
                     placeholder="Confirm your password">
              <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
            </div>

            <!--                        <div class="form-group">-->
            <!--                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>-->
            <!--                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all-->
            <!--                                statements in <a href="#" class="term-service">Terms of service</a></label>-->
            <!--                        </div>-->
            <div class="form-group form-button">
              <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
            </div>

            <p class="py-2">Already have an account? <a th:href="@{/login}">Sign-in</a></p>
          </div>
          <div class="signup-image">
            <figure><img th:src="@{/img/signup-image.jpg}" alt="image"></figure>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>

<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>
</html>